@charset "UTF-8";
@import 'components/input/date';
@import 'components/input/campaign_color';


@media screen and (min-width: 992px) {
  #edit-group-special {
    width: 49%;
    float: left;
  }
  #edit-group-campaign {
    width: 49%;
    float: right;
  }
}
#edit-group-campaign {
  .form-item--field-campaign-color-0-value {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
