body.role-is-anonymous.anonymous.user-anonymous {
  form[data-drupal-selector^="views-form-print-all-steps-of-program-"] {
    th.views-field-draggableviews {
      display: none;
    }
    th.select-all.views-field.views-field-node-bulk-form {
      display: none;
    }
    td.views-field.views-field-node-bulk-form {
      display: none;
    }
    td.views-field-draggableviews {
      display: none;
    }
    div.form-item.js-form-item.form-type-select.js-form-type-select.form-item-action.js-form-item-action.form-group {
      display: none;
    }
  }
}