form.webform-submission-form {
  div.form-type-select div.select-wrapper {
    margin-bottom: 20px;
    strong.error {
      position: absolute;
    }
  }
}

body.anonymous.path-webform ul.tabs--primary.nav.nav-tabs {
  display: none;
}
