.ip-covers-img {
  background-image: url("/themes/custom/aafctheme/images/aafc_homepage_banner_nov18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
.ip-cover-hide-mobile {
  background-image: none !important;
}
}
@media screen and (max-width: 991px) {

.ip-cover-hide-tablet {
background-image: none !important;
}
}
html:lang(en) body.path-frontpage {
  h1 {
    padding-top: 0.8em;
  }
}
