
div.alert.alert-success.access_unpublished {
  margin-bottom: 5px;
  margin-top: 5px;
  span.glyphicon-copy::before {
    font-size: x-large;
    margin-left: 10px;
    position: absolute;
    bottom: -4px;
  }
}
