
nav.gcweb-menu, nav.gcweb-v2, nav#wb-auto-2 {
  border-top: 3px solid #38414d;
}

body.path-frontpage main.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
.most-requested li {
       font-family: 'Lato', sans-serif;
       font-size: 17px;
       font-weight: 600;
       line-height: 26px;
       margin-top: 0
}
#wb-srch{
margin-right: 15px;
}
#wb-srch input, .srchbox input {
  margin-right: 125px;
}
#wb-lng li {
  margin-right: 0 !important;
}
/*
 * Site menu
 */
/* Special style for the home page - GCWeb v5 (gcweb-menu) */
.home .gcweb-menu {
  border-top: 1px solid #ddd;
  color: #284162;
  margin-left: 0px;
}
.home .gcweb-menu button[aria-haspopup=true] {
  background-color: #26374a;
  border-color: #26374a;
  color: #FFF;
}
.home .gcweb-menu button[aria-haspopup=true]:hover {
  background-color: #444;
  color: #fff;
}
// .gcweb-menu button[aria-haspopup=true]:focus {
//   background-color: #26374a;
//   border: 1px dotted #26374a;
//   color: #fff;
// }
ol, ul {
  padding-left: 2.1em;
}
#searchoptions{
  line-height: 1.25em;
}
#wb-bc{
  margin-left: -30px;
  margin-top: 15px;
}
.navbar img {
  width: auto !important;
}
.col-sm-12.bs-region.bs-region--bottom{
  padding-right: 0;
}
.container-fluid {
  margin-right: 15px;
}
.region.region-search{
  margin-top: -0.75em;
  right: 15px;
}
#wb-srch input, .srchbox input {
  margin-right: 90px;
}
.breadcrumb {
  padding: 8px 20px;
}
header .brand {
  margin-top: -13px;
}
body.home h1 {
  font-weight: 700;
  border-bottom-width: 1px;
}
body.anonymous #wb-lng li {
  padding-right: 0; 
}
.most-requested h2 {
       font-size: 1.2em;
}

.ip-btn {
       font-size: 1em;
}

/* supports the 3 column layout for MR instead of 4 columns */
.list-responsive-3 > li {
    float: left;
    padding-right: 5px;
    width: 50%
}

.list-responsive-3 > li:nth-child(2n+2) {
    clear: right
}

.list-responsive-3:before,
.list-responsive-3:after {
    content: " ";
    display: table
}

.list-responsive-3:after {
    clear: both
}

.followus {
       background-color: #f5f5f5;
}

.followus ul li a {
       border: solid 2px #f5f5f5;
}

.featured {
  margin-bottom: 0em;
  padding-top:20px;
  padding-bottom:20px;
  background: #31708f;
}

.featured a {
       color:#fff
}

ul.feeds-cont li a {
       font-weight: bold;
}


@media screen and (max-width: 1200px) {
  .featured {
       padding-left:.8em;
       }
}

@media screen and (min-width: 1200px) {
.list-responsive-3 > li {
    width: 33%;
       }
}

@media screen and (max-width: 767px) {

.btn-call-to-action {
       font-size: 19px !important;
       }

.most-requested li {
       font-size: 19px;
       }

.list-responsive-3 > li {
        clear: right;
        width: 100%
  }

.mobile-left {
       float: left !important;
       }

.ip-cover-hide-mobile {
     background-image: none !important;
  }
}

.featured {
    margin-bottom: 0em;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #31708f;
}
/* 
 * Breadcrumb line spacing override for D9
 */
 #wb-bc li {
  padding: 0px 2px;
}
