body {
  margin:5px;
  background: none;
  /*width: 846px;  /* DON'T COMMIT ME*/
}

.flexjust {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
}

.mapDiv {
  padding: 2px;
  border: 2px solid;
  border-color: #101050;
  border-radius: 6px;
  width: 99%;
  height:400px;
  position:relative;
}

.legendText {
  margin-left: 4px;
  white-space: nowrap;
}
.legendImage {
  width:20px;
  height:20px;
}
.legendEntry {
  display: flex;
  /*flex-direction:column;*/
  margin-right: 10px;
  margin-top: 3px;
}
/* the first legend entry is transparent - throw a border around it for visibility */
.legendEntry:first-child img {
  border: 1px solid #888888;
}
.legendContainer {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.loadingMask {
  background-color: black;
  opacity: 0.2;
  width:100%;
  height:100%;
  position:absolute;
  z-index:100;
}

/* Fix for IE */
details > summary::before {
  font-size: 16px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #335075;
  border-bottom-color: #335075;
  animation: spinner 2s ease infinite;
  z-index:101;
}
.spinner {
  position:absolute;
  left:50%;
  top:50%;
}

#map_selection .form-group {
  padding-left: 0px;
}