@charset "UTF-8";
body.path-admin.admin-content {
  .view-content {
    .form-item--accept-null {
      display: none;
    }
  }
}
body.path-admin {
  .view-content {
    fieldset[data-drupal-selector=edit-field-campaign-value],
    fieldset[data-drupal-selector=edit-field-special-value] {
      margin-top: 1em;
    }
    .form-item--field-tracking-number-value,
    .form-item--type,
    .form-item--name {
      max-width: 200px;
    }
    .form-item--nid {
      max-width: 100px;
    }
    .form-item--field-subject-target-id,
    .form-item--field-meta-type-target-id,
    .form-item--field-newstype-target-id {
      max-width: 250px;
    }
    .form-item--revision-timestamp-min,
    .form-item--field-modified-value-min,
    .form-item--changed-min {
      margin: 0.25rem 0.5rem 0.5rem 0;
      max-width: 135px;
    }
    .form-item--revision-timestamp-max,
    .form-item--field-modified-value-max,
    .form-item--changed-max {
      margin: 0.25rem 0.5rem 0.5rem 0;
      max-width: 120px;
    }
    #edit-revision-timestamp-wrapper,
    #edit-field-modified-value-wrapper {
      position: relative;
      margin-top: 2.35em;
      margin-right: 8px;
      padding-bottom: inherit;
    }

    #edit-revision-timestamp-wrapper legend span.fieldset__label,
    #edit-field-modified-value-wrapper legend span.fieldset__label {
      position: absolute;
      top: -2.5em;
      color: #222330;
    }
  }
  .view-filters {
    #edit-revision-timestamp-wrapper, #edit-field-modified-value-wrapper, #edit-field-issued-value-wrapper, #edit-created-wrapper {
      .fieldset.form-wrapper {
        margin-top: 0;
      }
      .form-item {
        float: left;
      }   
    }
    .form-item--field-issued-value-min,
    .form-item--changed-min {
      margin: 0.25rem 0.5rem 0.5rem 0;
    }
    .form-item--field-issued-value-max,
    .form-item--changed-max {
      margin: 0.25rem 0.5rem 0.5rem 0;
    }
    #edit-field-issued-value-wrapper {
      padding-bottom: inherit;
    }
    .form-actions .button {
      margin-left: 15px;
    }
  }
}
