@charset "UTF-8";

body.path-admin.admincontentmoderated {
  div.view.view-moderated-content {
    .form-item--accept-null {
      display: none;
    }
  }
}
div.view.view-moderated-content {
  fieldset[data-drupal-selector=edit-field-campaign-value],
  fieldset[data-drupal-selector=edit-field-special-value] {
    margin-top: 1em;
  }
  .view-filters {
    .form-item--field-tracking-number-value,
    .form-item--type,
    .form-item--name {
      max-width: 200px;
    }
    .form-item--nid {
      max-width: 100px;
    }
    .form-item--field-subject-target-id,
    .form-item--field-meta-type-target-id,
    .form-item--field-newstype-target-id {
      max-width: 250px;
    }
  }
}
