@charset "UTF-8";
/* Admin css for the administration theme (override) */
html[lang="fr"] .english-only {
  display: none !important;
}

html[lang="en"] .french-only {
  display: none !important;
}

html[lang="fr"] body.path-admin table#menu-overview .english-only {
  display: inherit !important;
  color: darkred;
}

html[lang="en"] body.path-admin table#menu-overview .english-only::before {
  color: black;
}

html[lang="fr"] body.path-admin table#menu-overview .french-only::before {
  color: black;
}

html[lang="en"] body.path-admin table#menu-overview .french-only::after {
  content: " (external link displays in french)";
  color: black;
}

html[lang="fr"] body.path-admin table#menu-overview .english-only::after {
  content: " (lien externe affiché en anglais)";
  color: black;
}

html[lang="fr"] body.path-admin table#menu-overview .french-only {
  color: darkgreen;
}

html[lang="en"] body.path-admin table#menu-overview .english-only {
  color: darkgreen;
}

html[lang="en"] body.path-admin table#menu-overview .french-only {
  display: inherit !important;
  color: darkred;
}

/* Put variables here for colors, fonts, etc */
/* breadcrumb css/scss/sass here */
body.path-admin #block-claro-content nav.breadcrumb {
  font-size: 1.3rem;
}

/**** Components Node for unpublished content *****/
/* Note that drupal-bootstrap-not-cdn.min.css sets the background-color to #fff4f4 for body.is-unpublished */
.views-row.published-no, .views-table tr.published-no {
  background-color: pink;
  border: 3px solid hotpink;
}

.views-row.published-no h1, .views-table tr.published-no h1 {
  background-color: pink;
  border: 3px solid hotpink;
}

/* Unpublished revision pending to overwrite the published revision */
.views-row.published-no.Archived, .views-table tr.published-no.Archived,
.views-row.published-no.Archivé, .views-table tr.published-no.Archivé {
  background-color: blanchedalmond;
  border: 3px solid saddlebrown;
}

.views-row.published-no.Archived h1, .views-table tr.published-no.Archived h1,
.views-row.published-no.Archivé h1, .views-table tr.published-no.Archivé h1 {
  background-color: blanchedalmond;
  border: 3px solid saddlebrown;
}

/* Unpublished revision pending to overwrite the published revision */
.views-row.published-no.pending-draft, .views-table tr.published-no.pending-draft {
  background-color: #FFECA9;
  border: 3px solid orange;
}

.views-row.published-no.pending-draft h1, .views-table tr.published-no.pending-draft h1 {
  background-color: #FFECA9;
  border: 3px solid orange;
}

@media screen and (min-width: 992px) {
  body.etuf-sbs.nodeaddnews .layout-region-node-main, body.etuf-sbs.nodeaddnews .layout-region-node-footer {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item {
    float: inherit !important;
    width: auto;
    margin-right: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item:nth-child(even),
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item:nth-child(even) {
    float: inherit !important;
    width: auto;
    margin-left: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item.form-type--textarea {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews .layout-region-node-secondary {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item.form-item--moderation-state-0-state,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer transitionset {
    float: inherit !important;
    width: auto;
    margin-right: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item.form-item--moderation-state-etuf-fr-0-state,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer transitionset:nth-child(even) {
    float: inherit !important;
    width: auto;
    margin-left: auto;
  }
}
/* for side by side etuf css tweaks */
body.path-admin #ui-datepicker-div, body.path-admin .ui-datepicker-header, body.path-admin .ui-datepicker.ui-widget-content {
  border: 1px solid #a6a6a6;
  background-color: white;
}

.media-library-widget-modal.ui-dialog .ui-dialog-titlebar {
  padding: 5px 0px 5px 15px;
}
.media-library-widget-modal.ui-dialog .ui-dialog-titlebar-close {
  top: 5px;
}
.media-library-widget-modal.ui-dialog .media-library-menu {
  width: auto;
  min-width: 120px;
}
.media-library-widget-modal.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  padding: 0px 15px 0px 20px;
}
.media-library-widget-modal.ui-dialog--narrow.media-library-widget-modal {
  max-width: 90%;
}
.media-library-widget-modal .claro-details {
  margin-top: 0;
  margin-bottom: 0;
}
.media-library-widget-modal .media-library-add-form__input-wrapper {
  padding: 0;
  margin: 0;
}
.media-library-widget-modal .claro-details__wrapper {
  margin: 0px 0px 0px 15px;
}
.media-library-widget-modal .media-library-view .field--name-thumbnail img {
  height: 120px;
}

.entity-embed-dialog .form-item--attributes-title {
  display: none;
}

article.align-center .field--item {
  margin-left: auto;
  margin-right: auto;
}
article.align-center .field--item .img-responsive {
  margin-left: auto;
  margin-right: auto;
}

/* Menu css/sass/scss here */
body.adminstructuremenumanagemain #menu-disabled-links-form,
body.adminstructuremenumanagesideb #menu-disabled-links-form {
  display: inline-block;
  margin-right: 20px;
  float: left;
  margin-left: 20px;
}

body.user-logged-in select[data-drupal-selector=edit-menu-parent] option,
body.path-node div[data-drupal-selector=edit-menu] option {
  /* font-weight: bold;*/
  line-height: 3rem;
}

body.adminstructuremenumanagemain table[data-drupal-selector=edit-links] td {
  height: 0rem;
  padding: 0mm;
}

body.adminstructuremenumanagemain .tabledrag-cell-content .tree {
  min-height: 0%;
}

body.role-is-administrator .creator-only,
body.role-is-anonymous .creator-only,
body.role-is-reviewer .creator-only {
  display: none;
}

/* This comment shows up in css file */
body.is-reviewer.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight, body.is-reviewer.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight, body.is-reviewer.nodeaddpage #edit-advanced .form-item--menu-weight, body.is-reviewer.nodeaddlanding_page #edit-advanced .form-item--menu-weight,
body.is-creator.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight,
body.is-creator.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight,
body.is-creator.nodeaddpage #edit-advanced .form-item--menu-weight,
body.is-creator.nodeaddlanding_page #edit-advanced .form-item--menu-weight,
body.is-ccpub.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight,
body.is-ccpub.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight,
body.is-ccpub.nodeaddpage #edit-advanced .form-item--menu-weight,
body.is-ccpub.nodeaddlanding_page #edit-advanced .form-item--menu-weight,
body.is-cspub.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight,
body.is-cspub.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight,
body.is-cspub.nodeaddpage #edit-advanced .form-item--menu-weight,
body.is-cspub.nodeaddlanding_page #edit-advanced .form-item--menu-weight {
  display: none;
}
body.is-reviewer.node-edit.page-node-type-page #edit-preview, body.is-reviewer.node-edit.page-node-type-landing-page #edit-preview, body.is-reviewer.nodeaddpage #edit-preview, body.is-reviewer.nodeaddlanding_page #edit-preview,
body.is-creator.node-edit.page-node-type-page #edit-preview,
body.is-creator.node-edit.page-node-type-landing-page #edit-preview,
body.is-creator.nodeaddpage #edit-preview,
body.is-creator.nodeaddlanding_page #edit-preview,
body.is-ccpub.node-edit.page-node-type-page #edit-preview,
body.is-ccpub.node-edit.page-node-type-landing-page #edit-preview,
body.is-ccpub.nodeaddpage #edit-preview,
body.is-ccpub.nodeaddlanding_page #edit-preview,
body.is-cspub.node-edit.page-node-type-page #edit-preview,
body.is-cspub.node-edit.page-node-type-landing-page #edit-preview,
body.is-cspub.nodeaddpage #edit-preview,
body.is-cspub.nodeaddlanding_page #edit-preview {
  display: none;
}

body.role-is-reviewer.path-node ul.tabs--primary a[rel=edit-form] {
  display: none !important;
}
body.role-is-reviewer.path-node .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-link.button.button--danger {
  display: none;
}
body.role-is-reviewer.path-node .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-container a, body.role-is-reviewer.path-node .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-container p {
  display: none;
}

body.role-is-reviewer.path-node details[data-drupal-selector="edit-access-unpublished-settings"], body.role-is-creator.path-node details[data-drupal-selector="edit-access-unpublished-settings"] {
  display: none;
}

body.role-is-reviewer a[data-drupal-link-system-path="admin/help"], body.role-is-creator a[data-drupal-link-system-path="admin/help"] {
  display: none;
}

body.role-is-creator a[data-drupal-link-system-path="admin/structure/block"] {
  display: none;
}
body.role-is-creator table[data-drupal-selector="edit-blocks"] {
  display: none;
}
body.role-is-creator form[data-drupal-selector="block-admin-display-form"] {
  display: none;
}
body.role-is-creator #block-claro-help {
  display: none;
}

body:not(.role-is-administrator) transitionset[data-drupal-selector="edit-moderation-state-0-scheduled-transitions"] {
  display: none;
}
body:not(.role-is-administrator) transitionset[data-drupal-selector="edit-moderation-state-etuf-fr-0-scheduled-transitions"] {
  display: none;
}

/* menu_parent select style */
body.node-edit .form-item--menu-menu-parent #edit-menu-menu-parent,
body.nodeaddpage .form-item--menu-menu-parent #edit-menu-menu-parent,
body.nodeaddlanding_page .form-item--menu-menu-parent #edit-menu-menu-parent,
body.adminstructuremenumanagemaina select#edit-menu-parent #edit-menu-menu-parent,
body[class*="menuitem"] select#edit-menu-parent #edit-menu-menu-parent {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
body.node-edit .form-item--menu-menu-parent .menu_tree-leve-1,
body.nodeaddpage .form-item--menu-menu-parent .menu_tree-leve-1,
body.nodeaddlanding_page .form-item--menu-menu-parent .menu_tree-leve-1,
body.adminstructuremenumanagemaina select#edit-menu-parent .menu_tree-leve-1,
body[class*="menuitem"] select#edit-menu-parent .menu_tree-leve-1 {
  padding-left: 15px;
  color: blue;
  font-size: 20px;
}
body.node-edit .form-item--menu-menu-parent .menu_tree-leve-2,
body.nodeaddpage .form-item--menu-menu-parent .menu_tree-leve-2,
body.nodeaddlanding_page .form-item--menu-menu-parent .menu_tree-leve-2,
body.adminstructuremenumanagemaina select#edit-menu-parent .menu_tree-leve-2,
body[class*="menuitem"] select#edit-menu-parent .menu_tree-leve-2 {
  padding-left: 30px;
  font-style: italic;
  color: green;
  font-size: 18px;
}
body.node-edit .form-item--menu-menu-parent .menu_tree-leve-3,
body.nodeaddpage .form-item--menu-menu-parent .menu_tree-leve-3,
body.nodeaddlanding_page .form-item--menu-menu-parent .menu_tree-leve-3,
body.adminstructuremenumanagemaina select#edit-menu-parent .menu_tree-leve-3,
body[class*="menuitem"] select#edit-menu-parent .menu_tree-leve-3 {
  padding-left: 45px;
  color: #581845;
  font-size: 16px;
}
body.node-edit .form-item--menu-menu-parent .menu_tree-leve-4,
body.nodeaddpage .form-item--menu-menu-parent .menu_tree-leve-4,
body.nodeaddlanding_page .form-item--menu-menu-parent .menu_tree-leve-4,
body.adminstructuremenumanagemaina select#edit-menu-parent .menu_tree-leve-4,
body[class*="menuitem"] select#edit-menu-parent .menu_tree-leve-4 {
  padding-left: 60px;
  font-style: italic;
  color: purple;
  font-size: 16px;
}
body.node-edit .form-item--menu-menu-parent .menu_tree-leve-5,
body.nodeaddpage .form-item--menu-menu-parent .menu_tree-leve-5,
body.nodeaddlanding_page .form-item--menu-menu-parent .menu_tree-leve-5,
body.adminstructuremenumanagemaina select#edit-menu-parent .menu_tree-leve-5,
body[class*="menuitem"] select#edit-menu-parent .menu_tree-leve-5 {
  padding-left: 75px;
  color: Navy;
  font-size: 16px;
}
body.node-edit .form-item--menu-menu-parent .menu_tree-leve-6,
body.nodeaddpage .form-item--menu-menu-parent .menu_tree-leve-6,
body.nodeaddlanding_page .form-item--menu-menu-parent .menu_tree-leve-6,
body.adminstructuremenumanagemaina select#edit-menu-parent .menu_tree-leve-6,
body[class*="menuitem"] select#edit-menu-parent .menu_tree-leve-6 {
  padding-left: 90px;
  font-style: italic;
  color: Olive;
  font-size: 16px;
}

body.role-is-authenticated.path-node div.layout-region.layout-region--node-footer div.layout-region__content {
  margin-left: 0px;
}

body.role-is-authenticated.role-is-creator.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb tr[data-drupal-selector^="edit-links-menu-plugin-idmenu-link-content"] td.checkbox, body.role-is-authenticated.role-is-creator.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb tr[data-drupal-selector^="edit-links-menu-plugin-idmenu-link-content"] th.checkbox,
body.role-is-authenticated.role-is-pab_admin.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb tr[data-drupal-selector^="edit-links-menu-plugin-idmenu-link-content"] td.checkbox,
body.role-is-authenticated.role-is-pab_admin.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb tr[data-drupal-selector^="edit-links-menu-plugin-idmenu-link-content"] th.checkbox {
  display: none;
}
body.role-is-authenticated.role-is-creator.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb table[data-drupal-selector="edit-links"] td.checkbox, body.role-is-authenticated.role-is-creator.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb table[data-drupal-selector="edit-links"] th.checkbox,
body.role-is-authenticated.role-is-pab_admin.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb table[data-drupal-selector="edit-links"] td.checkbox,
body.role-is-authenticated.role-is-pab_admin.admin-structure.user-logged-in.path-admin.adminstructuremenumanagesideb table[data-drupal-selector="edit-links"] th.checkbox {
  display: none;
}

body.role-is-creator li.menu-item a[data-drupal-link-system-path*="blog_freetags"],
body.role-is-news_ccpub li.menu-item a[data-drupal-link-system-path*="blog_freetags"],
body.role-is-empl_ccpub li.menu-item a[data-drupal-link-system-path*="blog_freetags"],
body.role-is-reviewer li.menu-item a[data-drupal-link-system-path*="blog_freetags"],
body.role-is-editor li.menu-item a[data-drupal-link-system-path*="blog_freetags"] {
  display: none;
}
body.role-is-creator table#taxonomy tr[data-drupal-selector*="blog-freetags"],
body.role-is-news_ccpub table#taxonomy tr[data-drupal-selector*="blog-freetags"],
body.role-is-empl_ccpub table#taxonomy tr[data-drupal-selector*="blog-freetags"],
body.role-is-reviewer table#taxonomy tr[data-drupal-selector*="blog-freetags"],
body.role-is-editor table#taxonomy tr[data-drupal-selector*="blog-freetags"] {
  display: none;
}

body.path-admin.admin-content .view-content .form-item--accept-null {
  display: none;
}

body.path-admin .view-content fieldset[data-drupal-selector=edit-field-campaign-value],
body.path-admin .view-content fieldset[data-drupal-selector=edit-field-special-value] {
  margin-top: 1em;
}
body.path-admin .view-content .form-item--field-tracking-number-value,
body.path-admin .view-content .form-item--type,
body.path-admin .view-content .form-item--name {
  max-width: 200px;
}
body.path-admin .view-content .form-item--nid {
  max-width: 100px;
}
body.path-admin .view-content .form-item--field-subject-target-id,
body.path-admin .view-content .form-item--field-meta-type-target-id,
body.path-admin .view-content .form-item--field-newstype-target-id {
  max-width: 250px;
}
body.path-admin .view-content .form-item--revision-timestamp-min,
body.path-admin .view-content .form-item--field-modified-value-min,
body.path-admin .view-content .form-item--changed-min {
  margin: 0.25rem 0.5rem 0.5rem 0;
  max-width: 135px;
}
body.path-admin .view-content .form-item--revision-timestamp-max,
body.path-admin .view-content .form-item--field-modified-value-max,
body.path-admin .view-content .form-item--changed-max {
  margin: 0.25rem 0.5rem 0.5rem 0;
  max-width: 120px;
}
body.path-admin .view-content #edit-revision-timestamp-wrapper,
body.path-admin .view-content #edit-field-modified-value-wrapper {
  position: relative;
  margin-top: 2.35em;
  margin-right: 8px;
  padding-bottom: inherit;
}
body.path-admin .view-content #edit-revision-timestamp-wrapper legend span.fieldset__label,
body.path-admin .view-content #edit-field-modified-value-wrapper legend span.fieldset__label {
  position: absolute;
  top: -2.5em;
  color: #222330;
}
body.path-admin .view-filters #edit-revision-timestamp-wrapper .fieldset.form-wrapper, body.path-admin .view-filters #edit-field-modified-value-wrapper .fieldset.form-wrapper, body.path-admin .view-filters #edit-field-issued-value-wrapper .fieldset.form-wrapper, body.path-admin .view-filters #edit-created-wrapper .fieldset.form-wrapper {
  margin-top: 0;
}
body.path-admin .view-filters #edit-revision-timestamp-wrapper .form-item, body.path-admin .view-filters #edit-field-modified-value-wrapper .form-item, body.path-admin .view-filters #edit-field-issued-value-wrapper .form-item, body.path-admin .view-filters #edit-created-wrapper .form-item {
  float: left;
}
body.path-admin .view-filters .form-item--field-issued-value-min,
body.path-admin .view-filters .form-item--changed-min {
  margin: 0.25rem 0.5rem 0.5rem 0;
}
body.path-admin .view-filters .form-item--field-issued-value-max,
body.path-admin .view-filters .form-item--changed-max {
  margin: 0.25rem 0.5rem 0.5rem 0;
}
body.path-admin .view-filters #edit-field-issued-value-wrapper {
  padding-bottom: inherit;
}
body.path-admin .view-filters .form-actions .button {
  margin-left: 15px;
}

body.path-admin.admincontentmoderated div.view.view-moderated-content .form-item--accept-null {
  display: none;
}

div.view.view-moderated-content fieldset[data-drupal-selector=edit-field-campaign-value],
div.view.view-moderated-content fieldset[data-drupal-selector=edit-field-special-value] {
  margin-top: 1em;
}
div.view.view-moderated-content .view-filters .form-item--field-tracking-number-value,
div.view.view-moderated-content .view-filters .form-item--type,
div.view.view-moderated-content .view-filters .form-item--name {
  max-width: 200px;
}
div.view.view-moderated-content .view-filters .form-item--nid {
  max-width: 100px;
}
div.view.view-moderated-content .view-filters .form-item--field-subject-target-id,
div.view.view-moderated-content .view-filters .form-item--field-meta-type-target-id,
div.view.view-moderated-content .view-filters .form-item--field-newstype-target-id {
  max-width: 250px;
}

body[class*=moderationdashboard] nav[aria-label=Tabs],
body[class*=moderationdashboard] nav[aria-label=Onglets] {
  visibility: hidden;
}
body[class*=moderationdashboard] body[class*=moderationdashboard] nav.mrgn-tp-md {
  margin-top: 0px;
}
body[class*=moderationdashboard] body[class*=moderationdashboard] nav.mrgn-bttm-md {
  margin-bottom: 0px;
}

body.i18n-en[class*=moderationdashboard] div.moderation-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
}
body.i18n-en[class*=moderationdashboard] div.moderation-dashboard .form-group {
  font-size: 16px;
  line-height: 1.5em;
}

body.i18n-fr[class*=moderationdashboard] div.moderation-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
}
body.i18n-fr[class*=moderationdashboard] div.moderation-dashboard .form-group {
  font-size: 16px;
  line-height: 1.5em;
}

/* glyphicon-copy fix */
.glyphicon.glyphicon-copy:before {
  content: "\e205";
}

/*# sourceMappingURL=agri_admin.css.map */
