body.anonymous.path-webform ul.tabs--primary.nav.nav-tabs {
  display: none;
}
div.highlighted {
  position: relative;
  z-index: 1;
}
sector.alert-danger,
form.webform-submission-form div.form-item.form-group {
  position: relative;
}
form.webform-submission-form div.form-type-checkbox strong.error {
  margin-left: -20px;
}
.wb-frmvld fieldset legend strong.error,
form.webform-submission-form .form-type-processed-text,
form.webform-submission-form #edit-actions {
  margin-left: 10px;
}
.wb-frmvld label strong.error,
.wb-frmvld legend strong.error {
  margin-bottom: 5px;
  margin-top: 3px;
  line-height: 2em;
}
form.webform-submission-form fieldset .fieldset-wrapper {
  position: relative;
  margin-left: 10px;
  margin-top: 50px;
  display: block !important;
}
.wb-frmvld div.form-item.has-error:not(error) strong.error {
  display: none !important;
}

/*form.webform-submission-form div.form-item label.control-label,*/
form.webform-submission-form fieldset span.fieldset-legend {
  position: relative;
  margin-bottom: 0px;
  margin-left: 15px;
}
section.alert-danger ul.item-list__comma-list li {
  display: block;
}
form.webform-submission-form div.form-item div.form-item--error-message.alert.alert-danger::before,
div.form-item--error-message.alert.alert-danger::before,
div.region-content form div.form-item label[for="*-required-"]::after,
div.form-item label.control-label.js-form-required.form-required::after,
fieldset span.fieldset-legend.js-form-required.form-required::after {
  content: none;
}
div#edit-actions,
div#edit-cancel-link  {
  display: inline-block;
  padding-right: 30px;
}
div[class^="form-type-"] label.form-required::before,
fieldset[class^="webform-type-"] span.form-required::before,
fieldset[class^=".webform-radio"] span.form-required::before,
fieldset[class^=".webform-check"] span.form-required::before,
div.form-item label.control-label.form-required span.field-name::before,
fieldset span.fieldset-legend.js-form-required.form-required::before {
  content: "";
  background-image: url(https://agriculture.canada.ca/themes/custom/wxt_bootstrap/images/required.svg);
  display: inline-block;
  line-height: 1;
  color: #e00;
  background-size: 7px 7px;
  width: 7px;
  vertical-align: super;
  margin-left: 4px;
  height: 7px;
  position: absolute;
  top: 6px;
  left: -15px;
}

div[class^="form-type-"].form-type-textarea.error label.form-required,
fieldset[class^="webform-type-"].error span.form-required,
fieldset[class^=".webform-radio"].error span.form-required,
fieldset[class^=".webform-check"].error span.form-required,
div.form-item.error label.control-label.js-form-required.form-required,
fieldset.error span.fieldset-legend.js-form-required.form-required {
  color: unset;
}

html:lang(en) div[class^="form-type-"].form-type-textarea label.form-required:after,
html:lang(en) fieldset[class^="webform-type-"] span.form-required:after,
html:lang(en) fieldset[class^=".webform-radio"] span.form-required:after,
html:lang(en) fieldset[class^=".webform-check"] span.form-required:after,
html:lang(en) div.form-item label.control-label strong.required:after,
html:lang(en) fieldset span.fieldset-legend.js-form-required.form-required:after {
  content: "(required)";
  display: inline-block;
  color: #e00;
  margin-left: 4px;
  position: unset;
  background-image: unset;
  background-size: unset;
  width: unset;
  vertical-align: unset;
  height: unset;
}

html:lang(fr) div[class^="form-type-"].form-type-textarea label.form-required:after,
html:lang(fr) fieldset[class^="webform-type-"] span.form-required:after,
html:lang(fr) fieldset[class^=".webform-radio"] span.form-required:after,
html:lang(fr) fieldset[class^=".webform-check"] span.form-required:after,
html:lang(fr) div.form-item label.control-label strong.required:after,
html:lang(fr) fieldset span.fieldset-legend.js-form-required.form-required:after {
  content: "(obligatoire)";
  display: inline-block;
  color: #e00;
  margin-left: 4px;
  position: unset;
  background-image: unset;
  background-size: unset;
  width: unset;
  vertical-align: unset;
  height: unset;
}

form.webform-submission-form .webform-element-description {
  color: #333;
}
form.webform-submission-form div.form-item .description.help-block,
form.webform-submission-form div.form-item .description.help-block strong .label {
  font-size: 16px
}
body.path-webform div.region-content form label[for="*-required-"] {
  position: relative;
  margin-bottom: 0px;
}
form.webform-submission-form div.form-item--error-message.alert.alert-danger {
  border-image: none !important;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: bold;
  background: #f3e9e8;
  border-color: #d3080c;
}
form.webform-submission-form div.form-item.form-item-programorservice.form-group,
div.form-group.error.has-error label + div.select-wrapper {
  margin-bottom: 0px;
}
div.form-group.error.has-error label + div.select-wrapper select.form-select {
  width: 100%;
}

div.region section.alert-danger ul li {
  display: block;
}

div.region section.alert-danger ul li a {
  display: list-item;
  list-style-position: inside;
  margin-top: 15px;
}

div.region section.alert-danger ul li::after {
  content: none;
}
div.region section.alert-danger h2.sr-only {
  position: relative;
  font-size: 24px;
  width: 100%;
  height: 100%;
}
form.webform-submission-form > .btn { width: auto; }
form.webform-submission-form label.control-label.js-form-required.form-required {
  padding-bottom: 5px;
}
form.webform-submissoin-form div.fieldset-wrapper .alert-sm,
form.webform-submissoin-form div.help-block strong.error {
  display: flow-root;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
body.path-webform fieldset.required.error legend span {
  color: #a94442;
}
form[id$="-add-form"] section.alert ul li a,
form[id$="-edit-form"] section.alert ul li a {
  font-weight: normal;
}

form.webform-submission-form .iti__selected-flag {
  left: 10px;
}
form.webform-submission-form .iti,
div.form-type-date .control-label {
  display: block;
}

form.webform-submission-form fieldset.fieldgroup legend span.fieldset-legend,
form.webform-submission-form > div.form-item.form-group {
  margin-left: 10px;
}

form.webform-submission-form > section.webform-section-wrapper,
form.webform-submission-form section .webform-section-wrapper .js-webform-states-hidden.js-form-wrapper {
  margin-left: 10px;
}
form.webform-submission-form > div.js-webform-states-hidden {
  margin-left: 20px;
}
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group > label.control-label.form-required.js-form-required,
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group > label.control-label,
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group > div.description.help-block,
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group > div.form-item--error-message.alert.alert-danger.alert-sm,
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group.form-type-phone > input.form-email,
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group > input.form-email,
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group > input,
form.webform-submission-form > div.js-webform-states-hidden.form-item.form-group.form-type-email > input.form-phone {
  margin-left: unset;
}
form.webform-submission-form section#edit-psrf-section-productsrequired .webform-section-wrapper .form-item.form-type-select > * {
  margin-left: 0;
}
form.webform-submission-form label.control-label.form-required {
  color: #000;
}

form.webform-submission-form > section.form-wrapper.webform-section,
form.webform-submission-form > fieldset.webform-type-checkboxes div.fieldset-wrapper div.form-checkboxes div.form-item > label.control-label span.field-name,
form.webform-submission-form > fieldset.webform-checkboxes-other div.fieldset-wrapper div.form-checkboxes div.form-type-checkbox > label.option span.field-name,
form.webform-submission-form > fieldset.webform-type-radios div.fieldset-wrapper div.webform-options-display-one-column div.form-type-radio > label.option span.field-name ,
form.webform-submission-form > fieldset.webform-radios-other div.fieldset-wrapper div.webform-options-display-one-column div.form-type-radio > label.option span.field-name {
  margin-left: unset;
}
form.webform-submission-form div.form-item div.form-item--error-message.alert.alert-danger {
  margin-bottom: 5px !important;
}

section.alert-danger button.close {
  opacity: unset;
  border: 1px solid white;
  padding: 0px 9px 3px 9px;
  font-size: 30px;
}

section.alert-danger button.close:hover {
  border-radius: 3px;
  border-color: #999;
  box-shadow: 0px 0px 5px #999;
}
