{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or
 *   'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - $head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in' : 'user-anonymous',
    not root_path ? 'home path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    language_prefix ? 'i18n-' ~ language_prefix : 'i18n-' ~ en| clean_class,
    db_offline ? 'db-offline',
    four_oh_four ? four_oh_four : 0,
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
    theme.name ? theme.name|replace({'_':'-'}),
    wxt_theme ? wxt_theme|clean_class,
  ]
%}
<!DOCTYPE html>
<!--[if lt IE 9]><html{{ html_attributes.addClass('no-js') }}><![endif]-->
<!--[if gt IE 8]><!-->
<html{{ html_attributes.addClass('no-js') }}>
<!--<![endif]-->
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    {% if four_oh_four %}
    <title data-gc-analytics-error="404">{{ head_title|safe_join(' | ') }}</title>
    {% else %}
    <title>{{ head_title|safe_join(' | ') }}</title>
    {% endif %}
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <nav aria-label="{{ 'Skip links'|t }}">
      <ul id="wb-tphp">
        <li class="wb-slc">
          <a class="wb-sl" href="#{{ wxt_skip_link_primary }}">
            {{ wxt_skip_link_primary_text }}
          </a>
        </li>
        <li class="wb-slc">
          <a class="wb-sl" href="#{{ wxt_skip_link_secondary }}">
            {{ wxt_skip_link_secondary_text }}
          </a>
        </li>
      </ul>
    </nav>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <script type="text/javascript">_satellite.pageBottom();</script>
  </body>
</html>
