{#
/**
 * @file
 * Bootstrap Layouts: "1 Column" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
  {%
  set classes = [
    '',
  ]
  %}
{% if is_front %}
  {%
  set classes = [
    'col-sm-7',
  ]
  %}
    <{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes.addClass(classes).removeClass('col-sm-12') }}>
    {{ main.content }}
  </{{ main.wrapper }}>
</{{ wrapper }}>

  {% else %}

  <{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>
    {{ main.content }}
  </{{ main.wrapper }}>
</{{ wrapper }}>

{% endif %}


