{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if is_front %}
  {% if content %}
  <div{{ attributes.addClass(classes).removeClass('well').addClass('super-region') }}>
     {{ content }}
  </div>
  {% endif %}
{% else %}
  {% if content %}
  <div{{ attributes.addClass(classes).removeClass('well') }}>
     {{ content }}
  </div>
  {% endif %}
{% endif %}
